src/main/java/negocio/entidades/schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="Usuario" type="usuario"/>

  <xs:complexType name="usuario">
    <xs:sequence>
      <xs:element name="id" type="xs:long"/>
      <xs:element name="nombre" type="xs:string"/>
      <xs:element name="password" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

